body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.layer-question {
  stroke: black;
  fill: black;
}

.layer-option {
  stroke: transparent;
  fill: transparent;
}

.layer-option:hover {
  stroke: rgba(0,0,0,0.5);
  fill: rgba(0,0,0,0.5);
}

.layer-student {
  stroke: green;
  fill: green;
}
