.layer-answers {
  stroke: red;
  fill: red;
}

.layer-question {
  stroke: green;
  fill: green;
}

.layer-question:hover {
    stroke: blue;
    fill: blue;
}

.layer-highlight rect {
  fill: transparent;
  stroke: transparent;
}

.layer-highlight rect:hover {
  fill: rgba(12,12,12, 0.2);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
